{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "overrides": [{
     "compact": true
  }],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-private-methods"]
}